free-templates/1-amazonluna-fetch/workflow.json
{
  "name": "25-AmazonLuna-Games-Fetch template",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://proxy-prod.eu-west-1.tempo.digital.a2z.com/getPage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $json['Content-Type'] }}"
            },
            {
              "name": "Origin",
              "value": "={{ $json.Origin }}"
            },
            {
              "name": "Referer",
              "value": "={{ $json.Refer }}"
            },
            {
              "name": "x-amz-locale",
              "value": "={{ $json['x-amz-locale'] }}"
            },
            {
              "name": "x-amz-platform",
              "value": "={{ $json['x-amz-platform'] }}"
            },
            {
              "name": "x-amz-device-type",
              "value": "={{ $json['x-amz-device-type'] }}"
            },
            {
              "name": "x-amz-marketplace-id",
              "value": "={{ $json['x-amz-marketplace-id'] }}"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json['Accept-Language'] }}"
            },
            {
              "name": "User-Agent",
              "value": "={{ $json['User-Agent'] }}"
            },
            {
              "name": "searchContext",
              "value": "={{ $json.searchContext }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"timeout\":10000,\"searchContext\":{\"query\":\"included_with_prime\",\"sort\":\"TITLE_A_TO_Z\",\"filtersList\":[]},\"featureScheme\":\"WEB_V1\",\"pageContext\":{\"pageType\":\"multistate_browse_results\",\"pageId\":\"default\"},\"clientContext\":{\"browserMetadata\":{\"browserClientRole\":\"browser\",\"browserType\":\"Chrome\",\"browserVersion\":\"141.0.0.0\",\"deviceModel\":\"unknown\",\"deviceType\":\"unknown\",\"osName\":\"Windows\",\"osVersion\":\"11\"}},\"inputContext\":{\"gamepadTypes\":[]},\"dynamicFeatures\":[]}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        880
      ],
      "id": "e51bee9b-926f-4edb-ba3f-d757c4bbebc9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2014c337-009b-4c72-ab7a-cfc94318875e",
              "name": "Content-Type",
              "value": "text/plain;charset=UTF-8",
              "type": "string"
            },
            {
              "id": "af3dfb87-355d-40d3-8cc6-3074c7d99382",
              "name": "Origin",
              "value": "https://luna.amazon.it",
              "type": "string"
            },
            {
              "id": "971f2ce5-9d5e-4abd-b6f8-9815af9d1d6f",
              "name": "Refer",
              "value": "https://luna.amazon.it/",
              "type": "string"
            },
            {
              "id": "adc28f7c-1ad0-4e33-b4f8-1d4b678c1c2c",
              "name": "x-amz-locale",
              "value": "en_US",
              "type": "string"
            },
            {
              "id": "8852885e-013d-4b76-97e2-7393551e1f39",
              "name": "x-amz-platform",
              "value": "web",
              "type": "string"
            },
            {
              "id": "75790b6d-bdba-4547-866e-f078dae263b9",
              "name": "x-amz-device-type",
              "value": "browser",
              "type": "string"
            },
            {
              "id": "eb7c07a8-a963-41a3-8b44-9b94cd0c9f05",
              "name": "x-amz-marketplace-id",
              "value": "ATVPDKIKX0DER",
              "type": "string"
            },
            {
              "id": "cc5cf070-b37b-46b6-a5f5-5c588446395e",
              "name": "Accept-Language",
              "value": "en-US",
              "type": "string"
            },
            {
              "id": "9adc0222-535d-4c1d-9b9c-323184484875",
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
              "type": "string"
            },
            {
              "id": "0f9694c2-307f-4c84-85eb-4602351deeff",
              "name": "searchContext",
              "value": "{ \"query\": \"included_with_prime\" }.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        880
      ],
      "id": "90e866ac-6049-4b49-b36c-a14bb5ed18a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5,
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1616,
        880
      ],
      "id": "afa5fe39-cadf-4b06-8b58-9a15c7b2ffcb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1-YOUR_ID",
          "mode": "list",
          "cachedResultName": "Folder_Name",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Your_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1234567,
          "mode": "list",
          "cachedResultName": "Sheet_Name",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Your_ID/edit#gid=Your_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1424,
        880
      ],
      "id": "8ad57013-7764-4b02-a260-35155801ff3d",
      "name": "Get row(s) in sheet",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "Your_ID",
          "name": "Your_ACCOUNT"
        }
      }
    },
    {
      "parameters": {
        "content": "### Section 3 – New game notifications\n\nThe “isNew” and “If1” nodes keep only new titles. For each new game, the image is fetched, items are processed in small batches and a Wait node adds a short pause to avoid rate limits. Finally a message is sent to your notification channel.\n\n#### Choose a notification provider\n\nBy default this template uses a Discord node to post messages in a channel. Select your Discord credentials and channel ID, or replace this node with another service (Telegram, Slack, email, webhooks, etc.) while keeping the rest of the flow unchanged.",
        "height": 536,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        528
      ],
      "id": "bfff7efe-6fa6-43be-9b55-73f6a7437bb7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Parse GAME_TILE widgets and extract game info\nconst data = items[0].json;\nconst out = [];\n\nfunction walk(n) {\n  if (Array.isArray(n)) return n.forEach(walk);\n  if (n && typeof n === 'object') {\n    if (n.type === 'GAME_TILE') {\n      const target = n.actions?.[0]?.target || '';\n      const parts = target.replace(/^\\/|\\/$/g,'').split('/');\n      const slug = parts[1] || null;\n      const asin = parts[2] || null;\n\n      let pd = {};\n      try { pd = JSON.parse(n.presentationData || '{}'); } catch(e){}\n\n      out.push({\n        asin,\n        slug,\n        title: pd.title || null,\n        releaseYear: pd.releaseYear || null,\n        publishers: pd.publishersText || null,\n        genres: Array.isArray(pd.genreTags) ? pd.genreTags.join(', ') : null,\n        productUrl: pd.productUrl || null,\n        imagePortrait: pd.imagePortrait || null,\n        imageLandscape: pd.imageLandscape || null,\n        ageRating: pd.ageRating?.categoryText || null,\n        target\n      });\n    }\n    Object.values(n).forEach(walk);\n  }\n}\nwalk(data);\n\nreturn out.map(x => ({ json: x }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        880
      ],
      "id": "498ecfef-1c23-4efd-a2b8-f01d58b955ea",
      "name": "parsing"
    },
    {
      "parameters": {
        "jsCode": "// Leggo tutte le righe dal nodo \"Get row(s) in sheet\"\nconst existingRows = $items('Get row(s) in sheet');\n\n// Se il foglio è vuoto: tutti nuovi\nif (!existingRows || existingRows.length === 0) {\n  return items.map(item => {\n    item.json.isNew = true;\n    return item;\n  });\n}\n\n// Costruisco le chiavi già presenti nel foglio:\n// prima asin, se vuoto uso il titolo (Title nel foglio, title negli item)\nconst existingKeys = new Set(\n  existingRows\n    .map(r => {\n      const asin = (r.json.asin || '').trim().toUpperCase();\n      const title =\n        (r.json.Title || r.json.title || '').trim().toUpperCase(); // 👈 QUI la differenza\n      return asin || title;\n    })\n    .filter(k => k !== '')\n);\n\n// Aggiungo isNew agli item in ingresso\nreturn items.map(item => {\n  const asin = (item.json.asin || '').trim().toUpperCase();\n  const title =\n    (item.json.Title || item.json.title || '').trim().toUpperCase();\n\n  const key = asin || title;\n\n  // se non ho né asin né titolo, lo considero nuovo\n  item.json.isNew = key === '' ? true : !existingKeys.has(key);\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        880
      ],
      "id": "8767cdac-90f8-45ea-ab7a-f57c9977697a",
      "name": "isNew"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "YOUR_ID",
          "mode": "list",
          "cachedResultName": "AmazonLuna-games",
          "cachedResultUrl": "https://discord.com/channels/YOUR_ID"
        },
        "channelId": {
          "__rl": true,
          "value": "Your_ID",
          "mode": "list",
          "cachedResultName": "new-games-notifications",
          "cachedResultUrl": "https://discord.com/channels/YOUR_ID/YOUR_ID"
        },
        "content": "=New game added on Amazon Luna!\nTitle: {{ $('If1').item.json.title }}\nGeneres: {{ $('If1').item.json.genres }}\nRelease Year: {{ $('If1').item.json.releaseYear }}\n \n\n",
        "options": {},
        "files": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        672,
        880
      ],
      "id": "5125f814-c804-403e-9afd-bfdd473c3001",
      "name": "Send a message1",
      "webhookId": "YOUR_ID",
      "credentials": {
        "discordOAuth2Api": {
          "id": "7fbjmSiUdOmdAtKf",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-YOUR_ID",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-YOUR_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1234567,
          "mode": "list",
          "cachedResultName": "AmazonLunaGames-Fetch",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-YOUR_ID/edit#gid=1234567"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "releaseYear": "={{ $('parsing').item.json.releaseYear }}",
            "genres": "={{ $('parsing').item.json.genres }}",
            "imageLandscape": "={{ $('parsing').item.json.imageLandscape }}",
            "imagePortrait": "={{ $('parsing').item.json.imagePortrait }}",
            "asin": "={{ $('parsing').item.json.asin }}",
            "isNew": "=FALSE",
            "title": "={{ $('parsing').item.json.title }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "releaseYear",
              "displayName": "releaseYear",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "genres",
              "displayName": "genres",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "asin",
              "displayName": "asin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagePortrait",
              "displayName": "imagePortrait",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageLandscape",
              "displayName": "imageLandscape",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isNew",
              "displayName": "isNew",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        864
      ],
      "id": "48b4db7b-b1b3-4ff6-8382-a84fadaa56a6",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "9oG4csVCDf8W3hIo",
          "name": "Your_ACCOUNT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b51ea07a-8e6c-41c6-8d9b-45a0253f6712",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        880
      ],
      "id": "bfb6ca68-c899-4e11-acb1-d43d2f9f304f",
      "name": "If1"
    },
    {
      "parameters": {
        "batchSize": 6,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        864
      ],
      "id": "ef904a0a-5946-4703-a445-25c817d7b121",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        880
      ],
      "id": "4878eb88-44b0-4dc2-95d3-c908ba7f1d00",
      "name": "Wait",
      "webhookId": "YOUR_ID"
    },
    {
      "parameters": {
        "content": "### Section 2 – Update Google Sheet\n\nThe “Append or update row in sheet” node writes the parsed games to your Google Sheet. Rows are matched by title so existing entries are updated and only new games are appended with their ASIN, genres and image URLs.",
        "height": 532,
        "width": 376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        528
      ],
      "id": "4c234cca-2ce8-44f1-9fc3-3b87c60b91e8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Section 1 – Amazon request parameters\n\nThe **Edit Fields** node defines all required headers for the Amazon Luna request.  \nHere you should set:\n\n- `x-amz-locale` (language/region)\n- `x-amz-marketplace-id` (marketplace for your region)\n- `Accept-Language`\n- `User-Agent`\n- platform and device type\n\nThe **HTTP Request** node uses these values to call the Luna endpoint and retrieve the list of “Included with Prime” games.\n\n",
        "height": 528,
        "width": 1312,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1664,
        528
      ],
      "id": "f5344c9c-08e8-4559-aae1-17ed5b35bdaa",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Amazon Luna – Included with Prime\n\nThis workflow periodically fetches the list of “Included with Prime” games from Amazon Luna, parses the response, and keeps a Google Sheet in sync without duplicates.  \n\nNew titles are flagged and can be sent as notifications to a channel of your choice (for example Discord, Telegram, Slack, or email).  \n\nBefore activating the workflow, configure the Amazon request headers, region/marketplace, and Google Sheets document.\n\n📖 Full Guide & Region Codes: https://paoloronco.it/portfolio/n8n-guides/\n\n### Important notes\n\n- The data returned by this workflow comes from Amazon Luna and remains the property of Amazon.  \nUse it only for personal or testing purposes.  \n\n- Do not republish, redistribute, or share the results publicly without permission.  \nHeaders, endpoint and response format may change over time, so if the workflow stops working, double-check the values used in the **Edit Fields** and **HTTP Request** nodes.\n\n",
        "height": 528,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2464,
        528
      ],
      "id": "1f29687b-1725-4740-87bb-8b5e91086d0e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $('isNew').item.json.imageLandscape }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        864
      ],
      "id": "b14f1928-d93c-482d-a6cf-951498d736da",
      "name": "GetImage"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsing": {
      "main": [
        [
          {
            "node": "isNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isNew": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "GetImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImage": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b71e419-be2c-4d91-9db4-665086ed9e73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "Your_ID"
  },
  "id": "A8imlsPnCWETHm6k",
  "tags": []
}