free-templates/2-SaveInvoices/workflow.json
{
  "name": "20-SaveInvoices-Templates",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=- You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\nText to convert: {{ $json.text }}",
        "options": {
          "systemMessage": "You are a document parsing assistant designed to extract structured data from invoice PDFs for automated uploading and validation in a financial system.\n\nExtract the following fields from the invoice text:\n\ninvoice_number: Extract from the 'Invoice No' field.\n\nvendor_name: Company name issuing the invoice.\n\ninvoice_date: Format as DD/MM/YYYY.\n\npo_number: Extract the PO number or return null if not found.\n\npo_date: Extract the PO date in DD/MM/YYYY format or return null if not found.\n\ntotal_amount: Extract the invoice total as a float.\n\ntax_details: Include total CGST, total SGST.\n\nline_items: List of all items in the invoice. For each item, extract:\n\n  Serial No.: Item Serial No. In invoice.\n\n  code: The TWW word and its postfix only (e.g., TWW, TWW-Cover, TWW-HPCN). Do not include HSN code or numbers. This field must always be present.\n\n  description: Item description, never include HSN code of product in product description.\n\n  last character: This is a single word/character string found just after or around the line item, typically at the end of the price line or just on the next line. It will never be a number, HSN code, GST %, or unit (like PCS). Examples: G, C, S, 5C, .C If nothing is present (only digits or blank), return \"\". Check the next 1–2 lines after each item if it's not found on the same line.\n\n  quantity: Quantity value.\n\n  unit_price: Price per unit.\n\n  line_total: Total price for the line.\n\n  hsn_code: HSN code of the item.\n\n  cgst: Only extract the CGST percentage (e.g., 9%, 6%) as written in the invoice. Do not calculate based on line total.\n\n  sgst: Only extract the SGST percentage (e.g., 9%, 6%) as written in the invoice. Do not calculate based on line total.\n\nImportant: Double-check that all line items are extracted without omission.\n\nDo NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total_amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1520,
        464
      ],
      "id": "279fc733-3a4a-48b5-b90a-33437a93bec9",
      "name": "AI_Agent-fields"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nlet raw = output.result || output.completion || output.text || JSON.stringify(output);\n\n// Step 1: Remove backticks if present\nraw = raw.trim();\nif (raw.startsWith(\"```json\")) {\n  raw = raw.replace(/^```json\\s*/, '').replace(/```$/, '').trim();\n} else if (raw.startsWith(\"```\")) {\n  raw = raw.replace(/^```\\s*/, '').replace(/```$/, '').trim();\n}\n\n// Step 2: Find full JSON block from first { to last }\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nif (start === -1 || end === -1 || end <= start) {\n  return [{\n    json: {\n      error: \"No valid JSON block found\",\n      raw_output: raw\n    }\n  }];\n}\n\nlet jsonCandidate = raw.substring(start, end + 1).trim();\n\n// Step 3: Unescape characters\njsonCandidate = jsonCandidate\n  .replace(/\\\\n/g, '')\n  .replace(/\\\\t/g, '')\n  .replace(/\\\\\"/g, '\"')\n  .replace(/\\\\'/g, \"'\")\n  .replace(/\\\\\\\\/g, '\\\\');\n\n// Step 4: Parse JSON safely\ntry {\n  let parsed = JSON.parse(jsonCandidate);\n\n  // Only double-parse if it looks like stringified JSON\n  if (typeof parsed === \"string\" && parsed.trim().startsWith('{') && parsed.trim().endsWith('}')) {\n    parsed = JSON.parse(parsed);\n  }\n\n  return [{ json: parsed }];\n} catch (e) {\n  return [{\n    json: {\n      error: \"JSON parsing failed\",\n      raw_output: raw,\n      attempted_extraction: jsonCandidate,\n      message: e.message\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        464
      ],
      "id": "bbf59dee-cde2-45e3-bfda-776413827429",
      "name": "Code_extractFields"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-Your_ID",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Your_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 12345678,
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Your_ID/edit#gid=Your_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor": "={{ $json.vendor_name }}",
            "Amount": "={{ $json.total_amount }}",
            "Date": "={{ $json.invoice_date }}",
            "Description": "={{ $json.line_items[0].description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        464
      ],
      "id": "29ea0f55-1d7a-48e6-89b5-4020edf095b2",
      "name": "GoogleSheets_save",
      "credentials": {
        "googleApi": {
          "id": "Your_Account",
          "name": "Your_Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.webContentLink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        0
      ],
      "id": "269bdde6-6a68-4e9c-96e6-d67935df7a25",
      "name": "downloadFile"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $binary.keys()[0] }}",
        "name": "={{ $json.from.value[0].name}}-{{ $json.date }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=YOUR_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b6680055-8aef-4f9e-a2f8-b4dc0188cd70",
      "name": "GoogleDrive-upload-file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        928,
        0
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GGjvXfkqpDHVvYC3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $node[\"Get many messages\"].json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "17d74ff6-b02f-4641-bbe8-46ab717b5a1d",
      "name": "Gmail-Get_Invoice",
      "type": "n8n-nodes-base.gmail",
      "position": [
        720,
        0
      ],
      "webhookId": "a430c91c-4c1a-4377-88ad-f3ffefdc70ac",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "454oo3lK2q6e5HzC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Get many messages').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1760,
        0
      ],
      "id": "260fee8a-8c3c-4fba-9e30-96fd4ce74b48",
      "name": "Delete a message",
      "webhookId": "c974ebf7-e5f5-4e25-a894-d16561876f46",
      "credentials": {
        "gmailOAuth2": {
          "id": "454oo3lK2q6e5HzC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 25
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "de276b42-c83f-4a62-9b9e-3d21b4f03317",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "sender": "SENDER_EMAIL_ADDRESS"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        0
      ],
      "id": "4fc76db4-ce7d-4e40-aff0-923a1d89428b",
      "name": "Get many messages",
      "webhookId": "af615cf7-1086-4de1-b3a6-020e6f96bcf1",
      "credentials": {
        "gmailOAuth2": {
          "id": "454oo3lK2q6e5HzC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Automated Invoice Archiving - overview\n\nThis workflow automatically collects invoice emails from your ISP/utility provider, saves attached PDFs to Google Drive (and optionally SFTP), extracts key invoice data using AI, and logs them into Google Sheets.\n\nRead: [Full setup Guide](https://paoloronco.it/n8n-template-automated-invoice-archiving/)\n\n### How it Works (High-Level)\n\n1. **Trigger** – Runs at your chosen interval.\n2. **Email Filter** – Fetches only messages from the sender you specify and only if they include PDF attachments.\n3. **Download Invoice** – Retrieves the email and PDF file.\n4. **Save to Drive** – Uploads the PDF to a selected Google Drive folder.\n    (Optional) SFTP Upload – Sends a copy to your server.\n5. **Extract Text** – Converts the PDF to text.\n6. **AI Parsing** – Extracts invoice fields (vendor, date, total, line items, taxes, etc.).\n7. **Cleanup** (Optional) – Delete email and/or Google Drive temp file.\n8. **Append to Sheets** – Saves selected fields into your Google Sheet.\n\n### Tips\n\n- Works best with text-based PDFs.\n- SFTP, Gmail deletion, and Drive deletion are optional.\n- You can use different senders for different providers.\n- Sheets can be used to chart or monitor consumption over time.\n\n### Important\n\nInvoices may contain sensitive data.\nUse secure storage, APIs, and accounts.",
        "height": 720,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -240
      ],
      "id": "170589d6-8e1e-4f8d-8530-88af4145e0a0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1344,
        208
      ],
      "id": "5bc931ca-dd2e-44a2-b223-04e971367087",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1520,
        608
      ],
      "id": "1c19a579-4714-40cd-ae41-b79dd89956ec",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "tx3QJZdQsNJEQ7LO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('GoogleDrive-upload-file').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1536,
        0
      ],
      "id": "0c66ff53-61f7-4002-ae69-e302f76b1af5",
      "name": "Delete a file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GGjvXfkqpDHVvYC3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "87e927b3-4f28-4843-b2d0-cf7269437fca",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Get many messages').item.binary}}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "240d6703-e434-48b3-9f1f-bd3dce7a4909",
      "name": "Filter-contains_attachment",
      "type": "n8n-nodes-base.filter",
      "position": [
        496,
        0
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "=PATH/PATH/{{\n  (n => {\n    n = $('GoogleDrive-upload-file').item.json.name || $json.name || 'invoice';\n    n = n.replace(/[\\x00-\\x1F\\x7F]/g, '');\n    n = n.replace(/[:<>\\\"/\\\\|?*]/g, '-');\n    n = n.replace(/\\s+/g, ' ').replace(/[\\. ]+$/, '');\n    return n.toLowerCase().endsWith('.pdf') ? n : n + '.pdf';\n  })()\n}}\n"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        1344,
        0
      ],
      "id": "5c6fcda5-95d5-475f-9374-2b1a153917c8",
      "name": "FTP-upload-octopus",
      "credentials": {
        "sftp": {
          "id": "BsF0Em2AHLou3erf",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "### SECTION 1 Trigger\n\nRuns the workflow on a schedule you choose. Adjust interval as needed (hourly, daily, etc.).",
        "height": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -240
      ],
      "id": "28ca213f-f1dd-4e76-b510-656abe8acb2d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### SECTION 2 — Email Intake & Attachment filtering\n\nFetches messages from a specific sender and filters only emails containing PDF attachments.\n\n**Setup:**\nIn **Gmail → Get Many Messages**, enter the sender email that sends you invoices.\n\nConfigure your Gmail OAuth2 account: [🔗 Gmail Node Docs](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/)",
        "height": 400,
        "width": 624,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        -240
      ],
      "id": "b7c00f57-bd81-4f38-8baf-eb01ec791fe2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### SECTION 3 — Download & Storage\n\nDownloads the invoice PDF and saves it to Google Drive. You can optionally upload a copy to your FTP/SFTP server.\n\n**Google Drive:**\nConnect your Drive account: [🔗 Google Drive Docs](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive/)\nInsert the **Folder ID** where invoices will be stored.\n\n**FTP/SFTP (optional):**\nSet up your FTP/SFTP credentials: [🔗 FTP Node Docs](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.ftp/)\nIn **PATH**, enter the directory where files should be saved. Leave other fields unchanged.\n",
        "height": 400,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -240
      ],
      "id": "0223ec95-a03f-462d-afc3-cfe6a2f7592e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### SECTION 4 — PDF Text Extraction\n\nConverts the PDF into text before sending it to the AI model. OCR not required unless the PDF is image-only.",
        "width": 896,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        192
      ],
      "id": "a1d6eaa6-ae71-42cf-b7ed-d9c73f877423",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### SECTION 5 — AI Parsing\n\nThe AI Agent extracts structured data (date, vendor, amount, items). The Code node cleans the JSON.\n\n**Setup**\n Enter your LLM provider API key (OpenRouter/OpenAI).\n Ensure you have available credits.\n Select your preferred model (GPT-4.1, Llama 3, etc.).\n No additional configuration needed.\n\n\n\n",
        "height": 544,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1488,
        192
      ],
      "id": "5b32c16c-07d7-4bcf-a40b-3cb696ce52b7",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### SECTION 6 - GoogleSheets Logging\n\n**Setup**\nConnect your Google Sheets Service Account.\nSet **Document ID** and **Sheet Name**.\nCreate these columns in the first row:\n\n* **Vendor**\n* **Type**\n* **Date**\n* **Amount**\n\n\n\n",
        "height": 544,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        192
      ],
      "id": "46b16b4d-823d-4e19-ba8e-75cba720d5ef",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "AI_Agent-fields": {
      "main": [
        [
          {
            "node": "Code_extractFields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_extractFields": {
      "main": [
        [
          {
            "node": "GoogleSheets_save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downloadFile": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "FTP-upload-octopus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoogleDrive-upload-file": {
      "main": [
        [
          {
            "node": "downloadFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail-Get_Invoice": {
      "main": [
        [
          {
            "node": "GoogleDrive-upload-file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Filter-contains_attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI_Agent-fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Agent-fields",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file1": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter-contains_attachment": {
      "main": [
        [
          {
            "node": "Gmail-Get_Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP-upload-octopus": {
      "main": [
        [
          {
            "node": "Delete a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10c160b7-9adb-4eb5-b6fd-64aad59c083e",
  "meta": {
    "instanceId": "Your_ID"
  },
  "id": "JO7p7aOEOypeEGoF",
  "tags": []
}