free-templates/3a-Certification-Creation&Validation With PDF Templates/6-Utility-Certificate-Creator&Validation WithTemplates.json
{
  "name": "6-Utility-Certificate-Creator&Validation WithTemplates",
  "nodes": [
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZyOrfuHDK22tXq81",
          "mode": "list",
          "cachedResultName": "Certifications",
          "cachedResultUrl": "/projects/jmCdsRSQMosgYP5V/datatables/ZyOrfuHDK22tXq81"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook_Creation').item.json.headers.name }}",
            "Surname": "={{ $('Webhook_Creation').item.json.headers.surname }}",
            "CertificationID": "={{ $('Generate_Certification_ID').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Surname",
              "displayName": "Surname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CertificationID",
              "displayName": "CertificationID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        320,
        -224
      ],
      "id": "8aa6949f-3935-4b5f-993e-58109ae2dc46",
      "name": "Insert_Certificaton",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const uniqueId =\n  Date.now().toString(36).toUpperCase() +\n  Math.random().toString(36).substring(2, 8).toUpperCase();\n\nreturn [{ id: uniqueId }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -240
      ],
      "id": "5276e288-b7e2-4e82-8038-6ed25283e9f9",
      "name": "Generate_Certification_ID"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZyOrfuHDK22tXq81",
          "mode": "list",
          "cachedResultName": "Certifications",
          "cachedResultUrl": "/projects/jmCdsRSQMosgYP5V/datatables/ZyOrfuHDK22tXq81"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "CertificationID",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -144,
        -240
      ],
      "id": "17def385-21b1-4479-86aa-bcf99964bc26",
      "name": "Find_Certification_By_ID",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "416a8c8a-b9bd-4044-9987-b3320c09efd4",
              "leftValue": "=Object",
              "rightValue": "={{ $json }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -240
      ],
      "id": "aa33fda6-c7d7-419b-ac65-6888e4939b8b",
      "name": "Certification_ID_Exists"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook_Creation').item.json.headers.email }}",
        "subject": "Your certification is ready!",
        "message": "Attached you find your new certification!",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "document.pdf"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        -224
      ],
      "id": "a3a47b41-ddff-45ee-8ffc-74ab0ed0cb06",
      "name": "Email_Certification",
      "webhookId": "1a4c2fa0-2b30-4c73-869b-5e950e618981",
      "credentials": {
        "gmailOAuth2": {
          "id": "454oo3lK2q6e5HzC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "certificationscheck2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        224
      ],
      "id": "29812013-9f2f-4211-bc0a-9d16fbc45f10",
      "name": "Webhook_Check",
      "webhookId": "3677c2e6-a969-41c2-a37c-7dad0f0af706"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZyOrfuHDK22tXq81",
          "mode": "list",
          "cachedResultName": "Certifications",
          "cachedResultUrl": "/projects/jmCdsRSQMosgYP5V/datatables/ZyOrfuHDK22tXq81"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "CertificationID",
              "keyValue": "={{ $json.headers.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -352,
        224
      ],
      "id": "0f02a5e6-368e-4d85-a95e-fa039a7670e0",
      "name": "Find_Certification_By_ID1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "416a8c8a-b9bd-4044-9987-b3320c09efd4",
              "leftValue": "={{ $json.CertificationID }}",
              "rightValue": "={{ $('Webhook_Check').item.json.headers.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        224
      ],
      "id": "9beea287-488e-425a-8185-aaf4938448e1",
      "name": "Certification_Exists"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": \"true\",\n  \"name\": \"{{ $('Find_Certification_By_ID1').item.json.Name }}\",\n  \"surname\": \"{{ $('Find_Certification_By_ID1').item.json.Surname }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        96,
        160
      ],
      "id": "1c363567-193e-45d4-9d43-82460a06fd83",
      "name": "Respond_Found"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        96,
        288
      ],
      "id": "9169c821-6fe5-43d3-83b2-2d47c4add2d9",
      "name": "Respond_NotFound"
    },
    {
      "parameters": {
        "content": "## Creation  \n## Webhook input\n\nReceives name, surname, course and email via HTTP POST on `/certifications`.  \nStarts the certificate creation flow.\n",
        "height": 368,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        -448
      ],
      "id": "e5d78a9d-74cf-494f-9057-d2de3a8d0691",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Creation – Generate & validate ID\n\nGenerates a random CertificationID, checks the Data Table for duplicates and only continues when the ID is unique.  \nIf the ID already exists, the flow loops until a free one is found.\n",
        "height": 368,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        -448
      ],
      "id": "bb676994-7df9-4873-b260-8086c74ad6b1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Creation – Save, PDF & email\n\nSaves the learner record with the CertificationID to the Data Table, generates the certificate PDF from an HTML template and emails it to the learner.\n",
        "height": 368,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -448
      ],
      "id": "b876bfd4-fd59-49ca-9386-9a55cd754a78",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Check – Webhook input\n\nReceives a CertificationID via HTTP POST on `/certificationscheck` and starts the verification flow.\n",
        "height": 320,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        32
      ],
      "id": "80d9e416-5bde-4845-948d-f08ad893b737",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "certifications2",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -240
      ],
      "id": "3e2d8f20-4f2c-4f9a-9948-455886e62039",
      "name": "Webhook_Creation",
      "webhookId": "9e899529-884a-4bf9-872a-34ca89c3621d"
    },
    {
      "parameters": {
        "content": "## Check – Look up ID\n\nSearches the Certifications Data Table for the submitted CertificationID and branches depending on whether a matching record exists.\n",
        "height": 320,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        32
      ],
      "id": "3adee942-b0b4-4bec-adaa-fe5bddc60f2d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Check – Responses\n\nReturns JSON to the caller.  \nIf the ID is found: `ok: true` plus name and surname.  \nIf not found: `ok: false` so the client can show an “invalid certification” message.\n",
        "height": 176,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        176
      ],
      "id": "cf2f8732-9ee6-4f3a-9022-836d788d66ce",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Certifications – Creator & Checker\n\n## How it works\nThis workflow manages the full lifecycle of a training certificate.  \n`/certifications` receives learner details, generates a unique CertificationID and checks that it does not exist yet.  \nIf the ID is free, the workflow stores the record, builds a PDF certificate and emails it to the learner.  \n\n`/certificationscheck` lets you verify a certificate later.  \nThe webhook receives a CertificationID, looks it up in the same Data Table and returns a simple JSON response that frontends or other services can use to show “valid” or “not found”.\n\n## Setup steps\n1. Create a Data Table (e.g. **Certifications**) with Name, Surname, CertificationID and any extra fields.\n2. Configure the PDF Generator node with your account API and adjust the HTML template to your branding.\n3. Connect your email account (Gmail/SMTP) in **Email_Certification**.\n4. Deploy the `/certifications` and `/certificationscheck` webhooks and use their public URLs.\n5. Test creation and verification with a few sample requests before going live.\n",
        "height": 560,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1344,
        -448
      ],
      "id": "338fc6e8-eb2e-4801-8a89-b4d8f35f86f2",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "templateId": {
          "__rl": true,
          "value": "1560735",
          "mode": "list",
          "cachedResultName": "Certificate Example (ID: 1560735)"
        },
        "data": "={\n  \"DueDate\": \"{{$now.toISODate()}}\",\n  \"Candidate\": \"{{$('Webhook_Creation').item.json.headers.name}} {{$('Webhook_Creation').item.json.headers.surname}}\",\n  \"CourseName\": \"{{ $('Webhook_Creation').item.json.headers.course }}\",\n  \"ID\": \"{{ $('Generate_Certification_ID').item.json.id }}\"\n}",
        "documentOutput": "file",
        "additionalFields": {}
      },
      "type": "@pdfgeneratorapi/n8n-nodes-pdf-generator-api.pdfGeneratorApi",
      "typeVersion": 1,
      "position": [
        544,
        -224
      ],
      "id": "33d6d124-643b-4cb5-b7bc-a78266aaefec",
      "name": "Generate a PDF document",
      "credentials": {
        "pdfGeneratorApi": {
          "id": "qUCWxatdK0hM7EQZ",
          "name": "PDF Generator account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Insert_Certificaton": {
      "main": [
        [
          {
            "node": "Generate a PDF document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate_Certification_ID": {
      "main": [
        [
          {
            "node": "Find_Certification_By_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find_Certification_By_ID": {
      "main": [
        [
          {
            "node": "Certification_ID_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Certification_ID_Exists": {
      "main": [
        [
          {
            "node": "Generate_Certification_ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert_Certificaton",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Check": {
      "main": [
        [
          {
            "node": "Find_Certification_By_ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find_Certification_By_ID1": {
      "main": [
        [
          {
            "node": "Certification_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Certification_Exists": {
      "main": [
        [
          {
            "node": "Respond_Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond_NotFound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Creation": {
      "main": [
        [
          {
            "node": "Generate_Certification_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a PDF document": {
      "main": [
        [
          {
            "node": "Email_Certification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27c846c4-3476-4aaa-b81d-19c93a130da0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d797abf871ff7776b72030f386aac63fbb09752ce3bb94854a66e7091951bfc"
  },
  "id": "lRXtQJqclgbWMSOn",
  "tags": [
    {
      "updatedAt": "2025-11-23T13:34:14.752Z",
      "createdAt": "2025-11-23T13:34:14.752Z",
      "id": "DNVBijE9cEya3mqW",
      "name": "PROD"
    },
    {
      "updatedAt": "2025-11-23T13:36:13.729Z",
      "createdAt": "2025-11-23T13:36:13.729Z",
      "id": "T2GE36JapoXlWhjo",
      "name": "creator-published"
    }
  ]
}